{% extends "layout.html" %}
{% block content %}

<br>
<br>
<div id="app">
    <v-app id="inspire">
        <!-- contents -->
        <v-container>
            <v-data-table :headers="headers" :items="transaction" class="elevation-1" :search="search">
                <template v-slot:top>
                    <v-toolbar flat color="yellow lighten-1">
                        <v-toolbar-title>
                            <v-icon>mdi-emoticon-cool-outline</v-icon>
                            Hydroponics
                        </v-toolbar-title>
                        <v-divider class=mx-4 inset vertical></v-divider>
                        <v-dialog v-model="dialogTable" max-width="500px">
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn color="orange darken-1" class="mx-2" v-bind="attrs" v-on="on">
                                    <v-icon dark>
                                        mdi-plus
                                    </v-icon>
                                    ADD
                                </v-btn>
                            </template>
                            <v-card>
                                <v-img height=150px src="/static/images/hydro.jpg">
                                </v-img>
                                <v-card-title>
                                    <span class="headline"><v-icon>mdi-file-document-edit-outline</v-icon>ADD</span>
                                </v-card-title>
                                <v-card-text>
                                    <v-container>
                                        <v-row>
                                            <v-col cols="12">
                                                <v-textarea name="input-7-1" label="List To Do"
                                                    hint="Enter your List To Do" v-model="editedItem.todo">

                                                </v-textarea>
                                            </v-col>
                                        </v-row>
                                    </v-container>
                                </v-card-text>
                                <v-card-actions style="margin-top: -30px;">
                                    <v-spacer></v-spacer>
                                    <v-btn color="red" text @click="close">
                                        <v-icon>mdi-close-circle</v-icon>&nbsp;
                                        Cancle
                                    </v-btn>
                                    <v-btn color="blue" text @click="save">
                                        <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;
                                        Save
                                    </v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-dialog>
                        <v-spacer></v-spacer>
                        <v-text-field v-model="search" append-icon="mdi-magnify" label="Search" single-line
                            hide-details>
                        </v-text-field>

                    </v-toolbar>
                </template>
            </v-data-table>
        </v-container>



    </v-app>
</div>


<script>

    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            search: '',
            transaction: [],
            dialogTable: false,
            resData: null,
            headers: [
                {
                    text: 'ListToDo',
                    value: 'todo'
                },
                {
                    text: 'User',
                    value: 'user'
                },
                {
                    text: 'Date',
                    value: 'date'
                },
                {
                    text: 'Time',
                    value: 'time'
                }
            ],
            editedItem: {
                todo: '',
                user: '',
                date: '',
                time: '',
            },
            defaultItem: {
                todo: '',
                user: '',
                date: '',
                time: '',
            },
            editedIndex: -1
        },
        // ทำงานเมื่อโหลดหน้าขึ้นมา
        created() {
            this.initialize(); //เข้าไปเรียกใช้ฟังก์ชั่น initialize ใน methods
        },
        methods: {
            initialize() {
                const path = '/api/table';
                axios.get(path) //ยิงรีเควสไปถามเวิร์ฟเวอร์ 
                    .then((res) => {
                        this.transaction = res.data; //เรียกข้อมูล data ในหน้า blackend มาแสดงที่หน้า fontend
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            },
            pushTransaction(data) {
                const path = '/api/table';
                axios.post(path, data)
                    .then((res) => {
                        this.resData = res.data;
                        console.log(this.resData);
                    })
                    .catch((err) => {
                        console.log(err)
                    })
            },
            close() {
                this.dialogTable = false
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },
            save() {
                this.pushTransaction(this.editedItem);
                this.transaction.push(this.editedItem);
                this.close();
            },
        },
        delimiters: ["[[", "]]"],
    })


</script>




{% endblock %}