{% extends "layout.html" %}
{% block content %}

<div id="app">
    <v-app id="inspire">
        <!-- contents -->


        <div style="font-family: 'Varela Round', sans-serif;
        font-family: 'Kanit', sans-serif;">
            <template>
                <v-app-bar color="#fa5457">
                    <v-app-bar-nav-icon></v-app-bar-nav-icon>
                    <v-avatar>
                        <img src="static/images/2.png" alt="logo">
                    </v-avatar> &nbsp;&nbsp;
                    <v-toolbar-title>Hydroponics IoT</v-toolbar-title>

                    <v-spacer></v-spacer>

                    <div class="text-center">
                        <v-chip class="ma-2" pill>
                            <v-avatar left>
                                <img src="static/images/cat.jpg" alt="cat">
                            </v-avatar>
                            Thiphaporn
                        </v-chip>
                    </div>

                    <v-btn icon>
                        <v-badge color="yellow">
                            <template v-slot:badge>
                                <span>!</span>
                            </template>
                            <v-icon>mdi-bell</v-icon>
                        </v-badge>
                    </v-btn>

                    <v-menu left bottom>
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn icon v-bind="attrs" v-on="on">
                                <v-icon>mdi-dots-vertical</v-icon>
                            </v-btn>
                        </template>

                        <v-list>
                            <v-list-item v-for="n in 5" :key="n" @click="() => {}">
                                <v-list-item-title>Option {{ n }}</v-list-item-title>
                            </v-list-item>
                        </v-list>
                    </v-menu>
                </v-app-bar>

            </template>


            <div class="text-center">
                <v-snackbar bottom text absolute rounded="pill" v-model="snackbarCreate" :timeout="timeout"
                    color="success">
                    [[ popup ]]
                    <template v-slot:action="{ attrs }">
                        <v-btn color="success" text v-bind="attrs" @click="snackbarCreate = false">
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>
                <v-snackbar bottom next absolute v-model="snackbarErr" :timeout="timeout" color="error">
                    [[ popErr ]]
                    <template v-slot:action="{ attrs }">
                        <v-btn color="error" text v-bind="attrs" @click="snackbarErr = false">
                            Close
                        </v-btn>
                    </template>
                </v-snackbar>
            </div>


            <v-row no-gutters>
                <v-col cols="12" md="5">
                    <v-card class="pa-2" outlined tile>
                        <v-row no-gutters>
                            <v-card class="pa-2" outlined tile>

                            </v-card>
                        </v-row>
                        <v-row no-gutters>
                            <v-card class="pa-2" outlined tile>

                            </v-card>
                        </v-row>
                    </v-card>
                </v-col>
                <v-col cols="12" md="7">
                    <v-card class="pa-2" outlined tile>
                        <v-data-table multi-sort :headers="headers" :items="transaction" class="elevation-1" :search="search">
                            <template v-slot:top>
                                <v-toolbar flat color="#fa8925">

                                    <v-toolbar-title>
                                        <v-icon color="light-green accent-3" dark large>mdi-sprout</v-icon>&nbsp;&nbsp;
                                        Hydroponics
                                    </v-toolbar-title>

                                    <v-divider class=mx-4 inset vertical></v-divider>
                                    <v-dialog persistent v-model="dialogTable" max-width="500px">
                                        <template v-slot:activator="{ on, attrs }">
                                            <v-btn color="#f6d51f" class="mx-2" v-bind="attrs" v-on="on">
                                                <v-icon>
                                                    mdi-plus-circle
                                                </v-icon> &nbsp;
                                                เพิ่มข้อมูล
                                            </v-btn>
                                        </template>

                                        <v-card>
                                            <v-img height=150px src="/static/images/hydro.jpg"></v-img>
                                            <v-card-title>
                                                <span class="headline">
                                                    <v-icon>mdi-file-document-edit-outline</v-icon>[[ formTitle ]]
                                                </span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="12">
                                                            <v-textarea name="input-7-1" label="เพิ่มข้อมูล"
                                                                hint="ยืนยันการบันทึก" v-model="editedItem.todo">
                                                            </v-textarea>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>

                                            <v-card-actions style="margin-top: -30px;">
                                                <v-spacer></v-spacer>
                                                <v-btn color="red" text @click="close">
                                                    <v-icon>mdi-close-circle</v-icon>&nbsp;
                                                    ยกเลิก
                                                </v-btn>
                                                <v-btn color="blue" text @click="save">
                                                    <v-icon>mdi-checkbox-marked-circle</v-icon>&nbsp;
                                                    บันทึก
                                                </v-btn>
                                            </v-card-actions>
                                        </v-card>
                                    </v-dialog>

                                    <v-spacer></v-spacer>

                                    <v-text-field v-model="search" clearable flat solo-inverted hide-details
                                        prepend-inner-icon="mdi-magnify" label="ค้นหา"></v-text-field>

                                </v-toolbar>
                            </template>
                            
                            <template v-slot:header.todo="{ header }">
                                <h6>รายการ</h6>
                            </template>
                            <template v-slot:header.user="{ header }">
                                <h6>ชื่อผู้ใช้</h6>
                            </template>
                            <template v-slot:header.date="{ header }">
                                <h6>วัน/เดือน/ปี</h6>
                            </template>
                            <template v-slot:header.time="{ header }">
                                <h6>เวลา</h6>
                            </template>
                            <template v-slot:header.actions="{ header }">
                                <h6>แก้ไข/ลบ</h6>
                            </template>

                            <template v-slot:Item.actions="{ item }">
                                <div style="margin-top: 20px; margin-bottom: 20px;">
                                    <v-icon color="success" dark medium class="mr-2" @click="editItem(item)">
                                        mdi-pencil-circle
                                    </v-icon>
                                    <v-icon color="red" dark medium>
                                        mdi-delete-circle
                                    </v-icon>
                                </div>
                            </template>

                        </v-data-table>
                    </v-card>
                </v-col>

            </v-row>

        </div>


    </v-app>
</div>


<script>

    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
            search: '',
            transaction: [],
            snackbarErr: false,
            dialogTable: false,
            resData: null,
            snackbarCreate: false,
            timeout: 2000,
            popup: '',
            popErr: 'Create item someting wrong!',
            spinTable: false,
            headers: [
                {
                    text: 'รายการ',
                    value: 'todo',
                    align: 'center',
                },
                {
                    text: 'ชื่อผู้ใช้',
                    value: 'user',
                    align: 'center',
                },
                {
                    text: 'วัน/เดือน/ปี',
                    value: 'date',
                    align: 'center',
                },
                {
                    text: 'เวลา',
                    value: 'time',
                    align: 'center',
                },
                {
                    text: 'แก้ไข/ลบ',
                    value: 'actions',
                    align: 'center',
                }
            ],
            editedItem: {
                id: '',
                todo: '',
                user: '',
                date: '',
                time: '',
            },
            defaultItem: {
                id: '',
                todo: '',
                user: '',
                date: '',
                time: '',
            },
            editedIndex: -1
        },
        // ทำงานเมื่อโหลดหน้าขึ้นมา
        created() {
            this.initialize(); //เข้าไปเรียกใช้ฟังก์ชั่น initialize ใน methods
        },
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'เพิ่มข้อมูล' : 'แก้ไขข้อมูล'
            }
        },
        methods: {
            initialize() {
                const path = 'api/table';
                axios.get(path) //ยิงรีเควสไปถามเวิร์ฟเวอร์ 
                    .then((res) => {
                        this.transaction = res.data; //เรียกข้อมูล data ในหน้า blackend มาแสดงที่หน้า fontend
                        this.spinTable = true;
                    })
                    .catch((err) => {
                        console.error(err);
                    })
            },
            async pushTransaction(data) {
                const path = '/api/table';
                await axios.post(path, data)
                    .then((res) => {
                        this.transaction.unshift(res.data);
                        this.popup = 'created item success'
                        this.snackbarCreate = true;
                    })
                    .catch((err) => {
                        snackbarErr = true;
                        console.log(err);
                    })
            },

            async editTransaction(data, id) {
                const path = '/api/table/${id}`';
                await axios.put(path, data)
                    .then((res) => {
                        console.log(res.data);
                        this.popup = 'updated item success';
                    })
                    .catch((err) => {
                        this.snackbarErr = true;
                        console.log(err);
                    })
            },



            close() {
                this.dialogTable = false;
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },
            async save() {
                if (this.editedIndex > -1) {
                    let data = Object.assign(this.transaction[this.editedIndex], this.editedItem);
                    console.log(data, data.id);
                }
                else {
                    await this.pushTransaction(this.editedItem);
                }
                this.close();
            },
            async editItem(item) {
                this.editedIndex = this.transaction.indexOf(item);
                this.editedItem = Object.assign({}, item)
                this.dialogTable = true;
            },

            async deleteItem(item) {

            },

        },
        delimiters: ["[[", "]]"],
    })


</script>




{% endblock %}